# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Auto generated data
Makefile
.tkenvrc
.kdev4
.cmdenv-log
.vscode
OPS.kdev4
ws_vscode_ops.code-workspace
simulations/out/input_data
simulations/out/output_data
simulations/.idea
modules/inet
simulations/Results/
.zip

# Misc
*.swp
.cmdenv-log
